@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/updater.js"></script>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        @foreach(var city in Model.Cities) {
            <li>
                @Html.DisplayFor(m => city.CityName): 
                <span data-temperature-for="@city.ID">
                @Html.DisplayFor(m => city.Temperature)
                </span>
            </li>
        }
    </ul>
    <form method="post">
        <label asp-for="CityName"></label>
        <input asp-for="CityName">
        <button type="Submit">Subscribe</button>
    </form>
</div>
